<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Tomcat Log Viewer</display-name>
    <servlet>
        <servlet-name>TomcatLogViewer</servlet-name>
        <servlet-class>net.happygiraffe.tclogview.TomcatLogViewer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TomcatLogViewer</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <display-name>tclogview</display-name>
        <web-resource-collection>
            <web-resource-name>tclogview</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>tclogview</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>tclogview</realm-name>
    </login-config>
    <security-role>
        <description>Ability to view tomcat's logs.</description>
        <role-name>tclogview</role-name>
    </security-role>
</web-app>
